@font-face {
    font-family: 'fortnite'; /* Name your font family */
    src: url('Fortnite.ttf'); /* Correct the path to your font file */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*background: linear-gradient(#43a4f1, #193dad);*/
    background-color: #0c0d10 !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

a {
    text-decoration: none !important;
}

* {
    font-family: 'fortnite', sans-serif; /* Use the font family */
    color: white;
    font-weight: normal;
}

.sidebar {
    width: 60px;
    height: 100vh;
    background-color: #14151b;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.item-shop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("media/item-shop-bg.webp");
    background-position: center;
    background-size: 100%;
}

.item-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    background-color: #080424;
    height: 70px;
    position: relative; /* Add relative positioning for z-index to work */
    z-index: 4; /* Ensure it stacks above .item-img */
}

.item-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    background-color: #18345a72;
    position: relative;
    z-index: 2; /* Below .item-img */
}

.item-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img {
    text-align: center;
    transform: translateY(110px);
    position: relative;
    z-index: 3; /* Above .item-name but below .item-price */
}

.item {
    position: relative;
    width: 400px;
    height: 800px !important;
    background: linear-gradient(to right, #17417e, #3791d7, #17417e);
    border: #56a3d1 solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.item img {
    z-index: 0;
}

.item-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100000;
}



.news-button {
    position: relative;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.news-img {
    width: 100%;
    height: max-content;
    transition: all 0.3s ease-in-out;
}

.news-button:hover .news-img {
    transform: scale(1.05);
}

.news-button-info {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(30px);
}

.sidebar-link {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 43px;
    height: 43px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.18s ease-in-out;
}

.sidebar-link:hover {
    background-color: #2c2d3b;
    cursor: pointer;
}

.sidebar-link img {
    width: 17px;
    height: 20px;
}

